*{
    box-sizing: border-box;
    /* align-items: right; */
    
}

.header{
    margin: 10px;

}
 h1{
    font-weight: bold;
    margin: 10px;
 }

p{
    font-size: 1.2rem;
    margin: 10px;
}

.btn{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.btn .button-primary{
    margin: 10px;
    background-color: #FD7C4B;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    gap: 10px;
}